@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Karla, sans-serif;
    position: relative;
}


.firstPage{
    width: 100%;
    padding: 30px 30px 0 30px;
    background-color: whitesmoke;
}

.navbar{
    max-width: 1140px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.ham-btn{
    width: 80px;
    position: absolute;
    top: 10px;
    right: 10px;
    display: none;
}

.nav-end{
    width: 33%;
    padding-right: 20px;
}

.nav-mid{
    width: 50%;
}

.nav-item{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    font-size: 14px;
}

li{
    list-style: none;
}


.button{
    padding: 5px 20px;
    border-radius: 3px;
    background-color: #4c9aa5;
    font-size: 14px;
}

.nav-item a{
    text-decoration: none;
    color: #1f1f1f;
    line-height: 32px;
}

.mobile-menu{
    display: none;
}

.box{
    max-width: 1140px;
    margin: 100px auto;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 16px;
    margin-bottom: -16px;
}

.box-about , .box-img{
    height: 500px;
    vertical-align: middle;
}

.img1{
    width: 100%;
}

.about-title {
    margin-top: 0px;
    margin-bottom: 20px;
    color: #1f1f1f;
    font-size: 58px;
    line-height: 62px;
    letter-spacing: -2px;
    font-weight: bold;
}

.about-content{
    margin-bottom: 40px;
    color: #222f3f;
    font-size: 21px;
    line-height: 36px;
    font-weight: lighter;
}

.about-form{
    max-width: 495px;
}

.email-form{
    display: flex;
    flex-wrap: wrap;
}

.email-field{
    width: 52%;
    margin-right: 10px;
    padding: 15px 0 15px 15px;
    flex: 1;
    border: 1px none #000;
    border-radius: 3px;
    background-color: rgba(18, 144, 164, 0.07);
    color: #666;
    font-size: 16px;
}

.submit-btn{
    width: 180px;
    color:white;
    border-radius: 3px;
    background-color: #1290a4;
    font-size: 18px;
    font-weight: 700;
    border: none;
}


.signin{
    margin: 20px 0;
    color: #878b90;
    font-size: 17px;
}

.link{
    color: #1290a4;
    text-decoration: none;
}

@media only screen and  (max-width:980px){
    .nav-mid , .nav-end{
        display: none;
    }
    .mobile-menu{
        position: fixed;
        z-index: 1000;
        left: 0%;
        top: 75px;
        bottom: 0%;
        right: auto;
        width: 100%;
        background-color:whitesmoke;
        line-height: 35px;
        display: none;
    }
    li a{
        text-decoration: none;
        color:#666;
        transform: all ease 1s;
    }
    li a:hover{
        color: #1290a4;
    }
    .hrr{
        margin-bottom: 1px;
        color:#878b90;
    }
    .menu-btn{
       margin-top: 20px;
       padding: 10px 10px;
    }
    .menu-btn a{
        text-decoration: none;
    }
    .sign-btn{
        width: 100%;
        display: inline-block;
        padding: 12px 30px;
        margin-bottom: 16px;
        margin-right: auto;
        background-color: rgba(73, 184, 159, 0.23);
        text-align: center;
        color: black;
    }
    .trial-btn{
        width: 100%;
        display: inline-block;
        margin-left: 0px;
        background-color: #1290a4;
        color: #fff;
        text-align: center;
    }
    .box{
        grid-template-columns: 1fr;
        margin-bottom: -9px;
    }
}

.mid-img{
    width: 100%;
    margin-bottom: -16px;
    background-color: whitesmoke;
}

.secondPage{
    padding: 70px 30px 96px;
    background-color: #eef4f5;
    text-align: center;
}

.secondPage-heading{
    margin-bottom: 60px;
    font-size: 48px;
    font-weight: bold;
}

.cards{
    display: grid;
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
    grid-column-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
}

.grid-card{
    height: 400px;
    text-align: left;
    background-color: #fff;
    padding: 35px;
    border: 1px solid #d9e4e6;
}

.card-icon{
    display: flex;
    width: 80px;
    height: 80px;
    margin-bottom: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    background-color: rgba(247, 115, 128, 0.1);
    transition: all 275ms ease;
}

.card-title{
    color:#1f1f1f;
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: bold;
}

.card-content{
    margin-top: 20px;
    margin-bottom: 30px;
    color: #666;
    font-size: 17px;
    line-height: 28px;
}

.learn-text{
    font-size: 18px;
    line-height: 25px;
    font-weight: 700;  
} 

@media only screen and (max-width:1080px) {
    .cards{
        grid-column-gap: 30px;
        grid-row-gap: 30px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
    }
}

@media only screen and (max-width:760px){
   .cards{
    grid-template-columns: 1fr ;
    grid-column-gap: 0px;
   }
}

.learn-link{
    color: #1290a4;
    font-size: 18px;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    width: 120px;
    font-weight: bold;
}

.thirdPage{
    padding: 120px 30px 50px;
    background-color: whitesmoke;
}

.grid-details{
     max-width: 1140px;
     margin-bottom: 110px;
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-column-gap: 16px;
     align-items: center;
     margin-left: auto;
     margin-right: auto;
}

.detail-text{
    width: 460px;
}

.detail-title{
    margin-bottom: 25px;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: -2px;
    font-weight: bold;
}

.detail-para{
    margin-bottom: 65px;
    color: #333;
    font-size: 21px;
}

.list-item{
        display: flex;
        margin-bottom: 12px;
        align-items: center;

}

.item-text{
    margin-bottom: 0px;
    padding-left: 20px;
    color: #333;
    font-size: 21px;
}

.hr{
    margin-top: -45px;
    margin-bottom: 24px;
}

.detail-demo{
    font-size: 17px;
    margin-bottom: 20px;
    color: #333;
}

.schedule-btn{
    text-decoration: none;
    background-color: #f46f7c;
    color: #fff;
    font-size: 17px;
    border-radius: 3px;
    font-weight: bolder;
    padding: 14px 23px;
}

@media only screen and (max-width:980px) {
    .grid-details{
        grid-template-columns: 1fr;
    }
    .detail-para{
        font-size: 19px;
    }
    .detail-text{
        width: 100%;
    }
    .detail-title{
        font-size: 38px;
        line-height: 40px;
        padding-top: 20px;
    }
}


.fourthPage{
    position: relative;
    background-color: #30393b;
    padding: 120px 30px;
}

.pricing{
    margin-right: auto;
    margin-left: auto;
}

.pricing-title{
    margin: 0px auto 20px;
      color: white;
      font-size: 48px;
      text-align: center;
      font-weight: bold;
      letter-spacing: -3px;
}

.pricing-detail{
    text-align: center;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 90px;
    color: #878b90;
    font-weight: 400;
    font-size: 21px;
}

.grid-price{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 16px;
}

.price-card{
    border-radius: 6px;
    background-color: #fff;
    padding: 50px 50px 30px;
    position: relative;
}

.price-type{
    color: #878b90;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 35px;
}

.price-amount{
    margin-top: 0px;
    color: #1f1f1f;
    font-size: 50px;
    font-weight: bold;
}

.price-text{
    font-size: 13px;
}

.price-list-item{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.price-cont{
    margin-bottom: 0px;
    padding-left: 10px;
    font-size: 17px;
}

.price-btn{
    width: 180px;
    color:white;
    border-radius: 3px;
    background-color: #1290a4;
    font-size: 16px;
    font-weight: 700;
    border: none;
    margin: 13px 0;
    padding: 13px 0;
}

.price-endpart{
    font-size: 13px;
    color: #878b90;
    margin-bottom: 20px;
}

.line{
    height: 5px;
    background-color: #f46f7c;
    position: absolute;
    right: 0;
    bottom: auto;
    top: 0;
    left: 0;
}

.price-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.price-popular{
    line-height: 12px;
    margin-bottom: 0;
    padding: 8px 20px;
    font-size: 12px;
    color: #fff;
    background-color: #f46f7c;
    border-radius: 20px;
}

.pricing-more-info {
    max-width: 680px;
    margin: 65px auto 0px;
    color: #878b90;
    font-size: 17px;
    line-height: 32px;
    font-weight: 400;
    text-align: center;
}

@media only screen and (max-width:1080px) {
    .grid-price{
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 30px;
    }
}

@media only screen and (max-width:750px){
    .grid-price{
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width:750px){
    .pricing-title{
        font-size: 32px;
    }
    .pricing-detail{
        font-size: 18px;
    }
}

.footer{
    padding: 120px 30px;
    background-color: whitesmoke;
}

.news-form{
    max-width: 730px;
    margin-right: auto;
    margin-bottom: 120px;
    margin-left: auto;
    text-align: center;
}

.news-title{
    font-size: 48px;
    color: #000;
    font-weight: 700;
}

.news-para{
    font-size: 21px;
    color: #666;
    margin-bottom: 40px;

}

.newsletter-form{
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
}

.news-field{
    width: 55%;
}

.subscribe{
    padding: 12px;
}

.news-end{
    margin-top: 20px;
    font-size: 15px;
    color: #666;
}

@media only screen and (max-width:767px) {
    .news-title{
        font-size: 36px;
    }
    .news-field , .subscribe{
        width: 100%;
        margin-bottom: 10px;
    }
    .news-para{
        font-size: 19px;
    }
}

.footer-box{
    padding-top: 100px;
    max-width: 1140px;
    display: flex;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
    padding-top: 100px;
}


.box1-para{
    width: 320px;
    font-size: 15px;
    padding: 40px 0;
    color: #666;
}

.box-icons{
    width: 90px;
    display: flex;
    justify-content: space-between;
}

.box-icons a{
    text-decoration: none;
    color: #000;
    font-size: 20px;
}

.footer-box1{
    width: 40%;
    padding-right: 20px;
}

.footer-box2{
    width: 15%;
    padding-right: 20px;
}

.menu-title{
    color: #666;
    font-weight: bold;
    padding-bottom: 20px;
    font-size: 13px;
}

.footer-box3{
    width: 30%;
    padding-left: 100px;
    padding-right: 20px;
}

@media only screen and (max-width:980px) {
    .footer-box1{
        width: 50%;
    }
    .footer-box2{
        width: 25%;
    }
    .footer-box3{
        width: 50%;
        padding-left: 0;
        padding-right: 0;
        padding-top: 20px;
    }
}

@media only screen and (max-width:780px){
   .footer-box1{
    width: 100%;
   }
   .footer-box2{
    width: 50%;
   }
}

@media only screen and (max-width:470px){
    .footer-box2{
        width: 100%;
    }
}

